body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}

#home,
#discover,
#services,
#order-form,
#order-complete {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 768px) {
  #discover div,
  #services div {
    flex-direction: column;
    align-items: center;
  }
}
